@import '../../scss/mixin';

.modal {
  width: 600px;
  min-width: 320px;
  max-width: 100%;
  @include lg {
    width: 800px;
  }
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;

  &__close-btn {
    position: absolute;
    z-index: 1;
    top: 0.5rem;
    right: 1rem;
    border: 0;
    background: #414b6f;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(22, 27, 43, 0.8);
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  &__header {
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    background: #414b6f;
    padding: 1rem 4rem 1rem 1rem;
  }

  &__text {
    padding: 0 1rem;
  }
}
